.header-inner {
  padding-top: 200px;
  background-color: black;
  background-image: url(../images/backgrounds/bg-testimonial.jpg);
  background-size: cover;
  text-align: center;

  .breadcrumb {
    background-color: transparent;
    color: rgba(254, 254, 255, 0.7);
    a {
      color: inherit;
    }
    i{
      margin: 0 10px;
    }
  }
}
